@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackside+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --purple: #5288e2;
  --green: 15cdcb;
  --bg-dark: #222222;
  --blue: #3c486b;
  --branco: #dcdada;
  --bootstrap-color: #8C76F4;
  --react-color: #5ef37c;
  --sql-color: #00718A;
  --php-color: #687AB1;

  --orange-ui: #f7d060;
  --orange-ui-con: #e6bc3e;
  --menu-height: 68px;

}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

body,
button,
textarea,
input {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Urbanist", sans-serif;
  background-color: var(--bg-dark);
  color: #fff;
}

h1 {
  font-size: 44px;
}
h2 {
  font-size: 24px;
  margin-top: 0;
}

button {
  background-color: var(--orange-ui);
  border: 0;
  padding: 15px 33px;
  color: #000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}
button:hover {
  cursor: pointer;
}
header {
  height: calc(100vh - var(--menu-height));
  display: flex;
  align-items: center;

}

 header .container , header .container2{
  padding: 0px 100px;
  width: 50%;
} 



header .container2 p{
   font-family: 'Press Start 2P', cursive;

   font-size: 20px;
}

header .container2 p span{
    color: var(--orange-ui);
    font-size: 20px;
}

header .container2 p:hover:nth-child(1){
    color: var(--bootstrap-color);
    cursor: default;
    
}
header .container2 p:hover:nth-child(2){
    color: var(--react-color);
    cursor: default;
   
}

header .container2 p:hover:nth-child(3){
    color: var(--sql-color);
    cursor: default;
   
}
header .container2 p:hover:nth-child(4){
    color: var(--php-color);
    cursor: default;
    
}




header .container button {
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--menu-height);
  position: sticky;
  top: 0;
  background-color: var(--bg-dark);
  z-index: 99;
}

nav p {
  font-weight: bold;
  font-family: "Slackside One", cursive;
  font-size: 20px;
}

nav ul{
    display: flex;
   width: 50%;
    justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

nav ul a svg{
  display: none;
}


nav ul a:hover {
  color: var(--orange-ui-con);
  transition: 1s;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container{
  width: 50%;
  padding-right: 50px;
}
.about-me .img-container{
  width: 50%;
  text-align: center;
 
}


.about-me .img-container img{
  width: 50%;
  border-top-right-radius: 20px;
  object-fit: cover;
  border: 2px solid var(--branco);

}

.services{
  margin-top: -20px;
}
.services-container{
  display: flex;
  gap: 10px;
  padding: 0 150px;
}

.services h1{
  padding-left: 100px;
}

.services-container .service-card{
  width: 50%;
  padding: 30px 10px;
  border: 2px solid var(--branco);
  
}

.services-container .service-card {
  text-align: center;
}

.portfolio{
  height: 200px;
}

/* RESPONSIVIDADE */



/* IMAGEM RESPONSIVO */

@media (max-width: 900px) {
  
    .about-me{
      flex-direction: column;
      padding: 30px;

    }

    .about-me .container, .about-me .img-container{
      width: 100%;

    }

    .about-me .container{
      padding-right: 0px;
    }

    .about-me .container{
      margin: 70px 0;
    }

}

/* TABLET */
/* EXTRA FORTE */
@media (max-width: 840px) {

  .services h1{
    padding-left: 30px;
  }
    header{
        color: tomato;
    }
    header .container2{
        display: none;
    }
    header .container{
        width: 100%;
        padding: 0 30px;
    }
    nav{
        padding: 0 10px;
    }
    nav p{
        display: none;
    }
    nav ul{
        padding: 0;
        width: 100%;
    }
    nav ul a{
      font-size: 16px;
    }
}

/* RESPONSIVIDADE TABLET SERVIÇOS  */

@media (max-width: 700px) {

  .services{
    padding: 0;
  }
  
  .services .services-container{
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .services .services-container .service-card{
    width: 80% ;

    
  }
 


}




/* TELEFONE */
@media (max-width: 361px) {
  nav ul a{
    font-size: 13px;
  }


}


@media (max-width: 480px) {

  .about-me{
    padding: 30px;

  }

  .about-me .container h1, .services h1{
    text-align: center;
  }

  .services h1{
    padding-left: unset;
  }
 
    header{
        color: blueviolet;
        padding-bottom: 40px;
    }

    nav{
      padding: 0 5px;
      position: fixed;
      bottom: 0;
      width: 100%;
      top: unset;
    }
   nav ul a{
      font-size: 12px;
    } 

    nav ul a svg{
      display: block;
      margin: 0 auto 10px;
    }
}